@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-width: thin;
  scrollbar-color: #000 #000;
}
body {
  background-color: #000;
  font-family: "Sora", sans-serif;
}